
*{
margin: 0px;
padding: 0px;


}
/****************按钮样式****************/
 #save-result{
	margin-top: 10px;
 
}
#back-analyze {
margin-top: 10px;
 
}
 
 
/***********************模态框*******************/
#note{
	width: 568px;
	height: 200px;
	margin-top: 10px;
	font-size: 20px;
	line-height: 30px;
}
/*******************结果呈现区********************/

.result_explain{

	border-radius: 10px;
	
	overflow: hidden;
	margin-top: 70px;
   margin-bottom: -40px;
}
#word{
    background-color: rgba(240,173,78,0.8);
    overflow: scroll;
    max-width: 100%;
    font-size:15px;
}
.result_explain h3{
	text-align: center;
}
.result_explain p{
	 font-size: 18px;
	line-height: 25px;
	margin: 10px 0 10px 10px;
    

}
.result_explain img{
 max-width: 100%;
 

}



/*****************侧边栏******************/
#myNav{
margin-top: 70px;




}
    ul.nav-tabs{
        width: 140px;
        margin-top: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    ul.nav-tabs li{
        margin: 0;
        border-top: 1px solid #ddd;
    }
    ul.nav-tabs li:first-child{
        border-top: none;
    }
    ul.nav-tabs li a{
        margin: 0;
        padding: 8px 16px;
        border-radius: 0;
    }
    ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
        color: #fff;
        background: #0088cc;
        border: 1px solid #0088cc;
    }
    ul.nav-tabs li:first-child a{
        border-radius: 4px 4px 0 0;
    }
    ul.nav-tabs li:last-child a{
        border-radius: 0 0 4px 4px;
    }
    ul.nav-tabs.affix{
        top: 30px; /* Set the top position of pinned element */
    }
ul li{


text-align:center;

}