
@media (max-width: 1400px ) {
img{
	
	width:625px;
	height:355px;
}
p{
	

}
#word{
	width:440px;
	height:355px;

}

}
 
@media (max-width: 990px) {
img{
	
	width:750px;
}

#word{

	width:750px;
}

p{
	
	font-size:20px;
}
h3{
	
	font-size:25px;

}

}
@media (max-width: 400px) {

img{
	width:135px;
	height:200px;
}

#word{
	font-size:10pt;
	width:135px;
	height:200px;

}
h3{

	font-size:15pt;
}
p{
	
	font-size:8pt;
}
}








