
/*基本样式*/
body {
	background: #F7F7F7;
}

/*居中*/
.D-intoCenter {
	text-align: center;
}

/*常用大字体*/
.D-bigWord-B {
	font-size: 35pt;
}
.D-bigWord-M {
	font-size: 30pt;
}
.D-bigWord-S {
	font-size: 25pt;
}

/*常用中字体*/
.D-mediumWord {
	font-size: 19pt;
}
/*常用小字体*/
.D-littleWord {
	font-size: 14pt;
}

/*清除浮动*/
.D-eas-clearFix:after{
    clear: both;
    display: block;
    visibility: hidden; /*设置不可见*/
    height: 0;
    line-height: 0;
    content: ""; /*after伪对象必须的属性，可以设置内容为空*/
}

.D-eas-clearFix {}

/*分隔举例*/
.hrMargin {
	height: 20px;
	margin: 0;
	padding: 0;
	background: #F7F7F7;
}


/*==========================
导航条
==========================*/
#navbarId {
	height: 60px;
}

#navbarId .container {
	margin-top: 4px;
	font-size: 16px;
}

/*域名链接*/
#theBrand {
	font-size: 24px;
}

/*小三角形*/
.glyphicon-triangle-bottom {
	/*柳色*/
	color: #78a355;
}

/*子系统*/
#smallSys {
	font-size: 16px;
}

#theBrand {
	color: #fff;
	font-weight: 800;
}

#theBrand span {
	color: #78a355;
}

/*==========================
页头
==========================*/
.page-header {
	margin-top: 40px;
}

/*大标题*/
#headWord {
	position: absolute;
	height: 500px;
	width: 100%;
}

/*二维码扫码付款区域*/
.col-xs-12{
	padding-left: 10px;
	padding-right: 10px;
}

#pay{
	display: block;
	margin-top: -7px;
	background-color: #FFF;
	border-style: solid;
	border-width:1px;
	border-color:#000;
	border-radius: 5px;
}

#openUser,#openTime,#shouldPay,#QRCodeArea,#numCheck,#payFinish{
	margin-bottom: 3px;
}

#headline{
	margin-top: -10px;
	text-align: center;
}

#openTime,#numCheck{
	display: block;
}

.link{
	display: block;
	margin-top: 5px;
	font-size: 16px;
	cursor: pointer;
	color: rgb(51,122,183);
}

#yearVIP{
	display: block;
}
#monthVIP{
	display: none;
}

#monthNum,#money{
	display: block;
	width: 46px;
	float: left;
}

#month{
	margin-left: 10px;
}

#QRCodeArea{
	text-align: center;
	margin-top: -20px;
	margin-bottom: 20px;
}

#numCheckBox{
	display: block;
	width: 151px;
}

#linkHelp{
	margin-top: -5px;
}

#payFinish a{
	margin-bottom: 10px;
}
/*=====================
页尾
=====================*/
.D-footer .row {
	margin-top: 20px;
	height: 100px;
	background-color: #ccc;
}


